/*------------- Main ------------ */
body {
  font-size: 13px;
  font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
  color: #FFF;
  background-color: #111;
}
p {
  font-family: "Open Sans","Trebuchet MS", Helvetica, Arial, Verdana, Geneva, sans-serif;
  font-size: 130%;
  font-weight: normal;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 15px;
}
ul {
  list-style-type: none;
  list-style-position: outside;
  margin:0;
  padding:0;
}
h1 {
  font-size: 200%;
  color: #FC0;
  padding: 0px;
  width: 100%;
  cursor: default;
  margin: 0px;
}
h2 {
  font-size: 160%;
  color: #FC0;
  line-height: 35px;
  letter-spacing: 0px;
  margin: 0px;
  margin-top: 0px;
  cursor: default;
}
h2.pro {color: #ff0000;}
h2.street {color: #00ff00;}
h2.bike {color: #3333ff;}
h3 {
  font-size: 18px;
  color: #FC0;
  line-height: 30px;
  letter-spacing: 0px;
  margin: 0px;
}
h4 {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0px;
  margin-bottom: 20px;
}
h5 {
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 0px;
  margin-bottom: 15px;
}
h6 {
  font-size: 10px;
  line-height: 25px;
  letter-spacing: 0px;
  margin-bottom: 10px;
}
.alignCenter {text-align: center;}
.alignLeft {text-align: left;}
::-moz-selection { /* Code for Firefox */
    color: #FFF;
    background: #BBB;
}
::selection {
    color: #FFF;
    background: #BBB;
}

.modal-content {background-color: #141414;}
.modal-content img {margin: auto;display: block;width: 100%;}
.modal-title {color: #FC0;text-align: center;font-size: 22px;}
.modal-header {border-bottom: 1px solid #555;}
.modal-body {text-align: left;width: 100%;margin: auto;}
.modal-footer {text-align: center; border-top: none;}
.close, .close:hover {color: #FFF;}

.winCalculatorTable {
  display: table;
  width: 100%;
  margin: auto;
  margin-top: 0%;
  margin-bottom: 2.8%;
  text-align: center;
  /* text-shadow: 2px 2px #000; */
}
.winCalculatorTable-row {display: table-row;}
.winCalculatorTable-section {
  display: table-cell;
  width: 30%;
  font-size: 20px;
}

label {
  font-size: 18px;
  margin: 0px;
  margin-top: 10px;
}
input {
  color: #FFF;
  width: 100%;
  border: 2px solid #141414;
  border-radius: 4px;
  background-color: #555;
  padding: 5px;
  font-size: 18px;
  text-align: center;
}

/* ------------- Header Content --------------- */
/* --------------- Nav Bar ------------- */
.navbar-brand {padding: 0px; margin: auto;}
.navbar-brand>img {height: 100%; padding: 15px; width: auto;}
.navbar-inverse {background-color: #222222;}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {background-color: #333333;}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {background-color: #080808;}
.dropdown-menu {background-color: #222222;}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {background-color: #222222;}
.navbar-inverse {background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {background-image: none;}
.navbar-inverse {border-color: #080808;}
.navbar-inverse .navbar-brand {color: #999999;}
.navbar-inverse .navbar-brand:hover {color: #FFFFFF;}
.navbar-inverse .navbar-nav>li>a {color: #999999;}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {color: #FFFFFF;}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {color: #FFFFFF;}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {color: #FFFFFF;}
.dropdown-menu>li>a {color: #999999;}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {color: #FFFFFF;}
.navbar-inverse .navbar-nav>.dropdown>a .caret {border-top-color: #999999;}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {border-top-color: #FFFFFF;}
.navbar-inverse .navbar-nav>.dropdown>a .caret {border-bottom-color: #999999;}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {border-bottom-color: #FFFFFF;}
  
/* ------------- CountDown ------------ */
.CountDownTable {
  display: table;
  width: 100%;
  margin: auto;
  margin-top: 0%;
  margin-bottom: 2.8%;
  text-align: center;
  text-shadow: 2px 2px #000;
  -webkit-animation-delay: 1s;
}
.CountDownTable-row {display: table-row;}
.CountDownTable-section {
  display: table-cell;
  width: 30%;
  font-size: 20px;
}
.CountDownTable-section>h3 {
  font-size: 18px;
  color: #FC0;
  line-height: 30px;
  letter-spacing: 0px;
  margin: 0px;
}
.CountDownTable-section>div {
  color: #FFF;
  font-weight: bold;
  font-size: 15px;
}

/* ------------- Marquee ------------- */
.marquee {
  height: 24px;
  width: 100%;
  margin-top: 10px;
  color:#FD0;
  font: Arial Black;
  font-weight: bold;
  font-size: 16px;
  overflow: hidden;
  position: relative;
  -webkit-animation-delay: 1s;
}
.marquee div {
  display: block;
  width: 200%;
  height: 35px;
  position: absolute;
  overflow: hidden;
  animation: marquee 13s linear infinite;
}
.marquee span {
  float: left;
  width: 50%;
}
@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}
.marqueeInfo:after {
  text-shadow: 2px 2px #000;
  content: "THE FORTH RACE OF THE SEASON IS ON SUNDAY JUNE 11TH! GATES OPEN AT 2:00PM!";
/*content: "THE ..... RACE OF THE SEASON IS ON SUNDAY .... ....! GATES OPEN AT 2:00PM, QUALIFYING AT 3:00PM & ELIMINATIONS AT 6:00PM."; */
}

/* ------------- Slides and Banner --------------- */
.Webbanner {
  margin: auto;
  width: 26%;
  display: block;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  -webkit-animation-delay: 0.5s;
}
.slideshow {
  z-index: -2;
  position: absolute;
  width: 100%;
  height: auto;
}
.slideshow>img {
  position: absolute;
  width: 100%;
  height: auto;
}
.shade {background: rgba(22, 22, 22, 0.5);}
/* -------------- End of header content ------------- */

/* -------------- Index --------------- */
.indexPointsWinners {font-size: 18px;}
.indexWinnersTable {margin: auto; text-align: center;}
.indexWinnersTable img {width: 190px;}
.indexWinnersTable td{padding: 0px 5px 0px 0px;}

/* --------------- indexSchedule ------------ */
.current {color: #0CF;}
.over {text-decoration: line-through; color: #888;}
.cancelled {color: #F00;}
.new {color: #0F0;}
.future {color: #ff0;}
.indexSchedule {
  margin-top: -10px;
  margin: 0px;
  margin-left: 10px;
  cursor: default;
  width: 260px;
  -webkit-animation-delay: 1s;
}
.indexSchedule p {
  font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
  margin: 0px;
  margin-left: 30px;
  font-size: 13px;
}

/* -------------- RacerInfo -------------- */
#feesDiv {margin-bottom: 20px;}
#feesDiv p {margin: 0px; text-align: left;}
.DriverInfoPDF {font-size: 16px;}
.listStyleDisc ul {list-style-type: disc;}

/* -------------- Points ------------- */
#PointsUpdate:after {
  color: #FC0;
  font-size: 17px;
  font-weight: bold;
  content: "14/5/2017"
}
#pMembers {
  width: 80%;
  margin: auto;
}
.mySlidesPoints {
  margin: auto;
  margin-bottom: 1%;
  width: 80%;
}
.proButton {
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}
.pointsButtons {
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 18px;
  color: #FFF;
  font-weight: bold;
}

/* ------------- Events ----------- */
.activeSchedule {
  width: 40%;
  margin: auto;
  border: 4px solid #FC0; 
  cursor: default;
}
.activeSchedule img {
  width: 60%;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}
.activeSchedule ul {
  width: 100%;
  margin: auto;
  text-align: center;
}
.activeSchedule li {
  font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
  text-align: left;
  font-size: 15px;
  margin: auto;
  width: 100%;
}
.activeSchedule>div {
  width: 100%;
  margin: 0 auto;
  -webkit-animation-delay: 1s;
}
.activeSchedule>div>ul {width: 275px;}
.eventsTableTimes {
  width: 100%;
  margin: auto;
  padding: 5px;
  font-size: 16px;
  text-align: center;
  border-collapse: separate;
  border-spacing: 10px 5px;
}
#eventsComment {
	width: 100%;
  padding: 5px;
  margin-bottom: 10px;
	text-align: center;
}
#Posters {margin-top: 15px;}
.poster {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  display: inline;
  vertical-align: middle;
  text-align: center;
  width: 200px;
  margin: auto;
  margin-bottom: 15px;
}
.poster:hover {opacity: 0.7;}

/* ------------- Sponsors -------------- */
.TableSponsors {
  display: table;
  width: 100%;
  margin: auto;
  text-align: center;
}
.TableSponsors h3 {margin-top: -25px;}
.TableSponsors-row {display: table-row;}
.TableSponsors-section {
  display: table-cell;
  width: 30%;
  font-size: 13px;
}
.TableSponsors-section p {
  margin: 0px;
  margin-top: 10px;
}
.TableSponsors-section-Tree {
  display: table-cell;
  width: 30%;
  font-size: 13px;
}
.SponsorsChristmastree {
  width: 195px;
  margin-left: 5%;
  margin-right: 5%;
}

/* ------------- Contact Us ------------- */
.contactUsTable {
  width: 100%;
  color: #FFF;
  margin: 0px;
  border: 2px solid #222;
  border-spacing: 4px;
}
.contactUsTable th {
  cursor: default;
  height: 30px;
  font-weight: bold;
  font-size: 14px;
  color: #000;
  text-align: center;
  background-color: #e6b800;
}
.contactUsTable td {
  cursor: default;
  height: 20px;
  padding: 0px 10px 0px 0px;
  text-align: left;
}
.contactUsTable tr:nth-child(even) {background-color: #222;}
.contactUsTable tr:hover {background-color: #333}
.contactPhone {width: 95px;}
.VolunteerNeeded>td {background-color: #F00;}

/* ------------- About Us ------------- */
#aboutUsImg {
  width: 100%;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}

/* ------------- Hyperlink Color ------------- */
a:link {
  /* unvisited link */
  color: #FC0;
  text-decoration: none;
}
a:visited {
  /* visited link */
  color: #FC0;
  text-decoration: none;
}
a:hover {
  /* mouse over link */
  color: #F90;
  text-decoration: none;
  outline: 0;
  -webkit-transition: color .3s ease-in;
  -moz-transition: color .3s ease-in;
  -o-transition: color .3s ease-in;
  transition: color .3s ease-in;
}
a:active {
  /* selected link */
  color: #FC0;
  text-decoration: none;
}
.buttonHyperLink:link {
  /* unvisited link */
  color: #999;
  text-decoration: none;
}
.buttonHyperLink:visited {
  /* visited link */
  color: #999;
  text-decoration: none;
}
.buttonHyperLink:hover {
  /* mouse over link */
  color: #FFF;
  text-decoration: none;
  outline: 0;
  -webkit-transition:color .3s ease-in;
  -moz-transition:color .3s ease-in;
  -o-transition:color .3s ease-in;
  transition:color .3s ease-in;
}
.buttonHyperLink:active {
  /* selected link */
  color: #666;
  text-decoration: none;
}

/* ------------- Alerts ------------- */
.alert {font-size: 15px;}

/* ------------- Footer ------------- */
/* http://stackoverflow.com/questions/27770310/making-a-responsive-footer-with-3-divs-inside */
#footerSocial {
  display: table;
  width: 100%;
  margin: 0 auto;
  margin-top: 5px;
  position: relative;
  z-index: 2;
}
#footerSocial p {
  margin: 0px;
  font-size: 24px;
}
#footerSponsors {
  display: table;
  width: 100%;
  z-index: 1; 
  position: relative
}
#footerSponsors p {
  color: #FC0;
  font-size: 20px;
}
#footerSponsors h3 {
  text-align: center;
  font-size: 20px;
}
#footerCopyright {
  display: table;
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: -10px;
  z-index: 1;
  position: relative;
  cursor: default;
}
#footerCopyright p {
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 0px;
  color: #FC0;
}
.defaultCursor {cursor: default;}
.footer-row {
  display: table-row;
  margin: auto;
}
.footer-section {
  display: table-cell;
  text-align: center;
  width: 30%;
  font-size: 20px;
  margin: auto;
}
.footer-section-2 {
  display: table-cell;
  width: 20%;
  vertical-align: middle;
}
.footer-section-2 img {
  display: block;
  margin: auto;
}
#SocialMediaDiv-Footer {
  text-align: center;
  color: #FC0;
}
#SISLRALogo-Footer {
  width: 310px;
  margin: 0 auto;
}

/* ------------- Spinning Tire with Smoke ------------- */
#spiningTire {
  display: block;
  position: relative;
  margin: auto;
  margin-top: 48px;
}
#smoke {
  display: block;
  position: absolute;
  /* margin-top: -54%; */
  /* margin-left: 16%; */
  top: -70px;
  left: 75px;
  margin: auto;
}
.spin {
  margin: 0px;
  width: 200px;
  height: 200px;
  background: #1C1C1C;

  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from { transform:rotate(0deg); }
  to { transform:rotate(360deg); }
}

/* ------------- Images ------------- */
a {outline: none;}
a img {outline: none;}
img {border: 0;}

/* -------------- W3C Code ----------------- */
* {box-sizing: border-box;}
.row {
  margin: 0px;
  background-color: #141414;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}
.header {
  margin-top: 50px;
  height: 100%;
}
.themeColor {background-color: #1C1C1C;}
.menu {
  border-radius: 3px;
  padding: 5px;
  box-shadow: 5px 5px 10px #080808;
}
.aside {
  border-radius: 3px;
  padding: 5px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 5px 5px 10px #080808;
}
.indexPointsList p {
  margin: 0px;
  font-size: 15px;
  margin-left: 3%;
}
.main {text-align: center;}
.mainCenter {margin-left: 20.5%;}  
.footer {padding: 15px;}

@media (min-width: 768px) and (max-width: 1120px) { 
  /* Collapse Nav Bar To avoid ugliness */
  .navbar-collapse.collapse {display: none !important;}
  .navbar-collapse.collapse.in {display: block !important;}
  .navbar-header .collapse, .navbar-toggle {display:block !important;}
  .navbar-header {float:none;}
}

@media only screen and (max-width: 1200px) { 
  /* Collapse Footer */
  .footer-section {display: table-row;}
  #spiningTire {display: none;}
  #footerSponsors {display: none;}
  #SocialMediaDiv-Footer {margin-top: 15px;}
  #SISLRALogo-Footer {width: 30%; display: block; margin: auto;}
  .mySlidesPoints {margin: 0px; margin-bottom: 1%; width: 100%;}
  .col-m-0 {margin: -15px;}
}

@media only screen and (max-width: 1040px) { 
  /* To avoid the eventsTableTimes coming out of div activeSchedule */
  .activeSchedule {width: 100%;}
  .activeSchedule img {width: 50%;}
  .eventsTableTimes {padding: 0px;}
  #eventsComment {padding: 0px;}
}

@media only screen and (max-width: 1000px) { 
  /* To avoid TableSponsors going out a screen */
  .TableSponsors {margin-top: -35px;}
  .TableSponsors h3 {margin-top: 10px;}
  .TableSponsors-section {display: table-row;}
  .TableSponsors-section-Tree {display: none;}
  .SponsorsChristmastree {display: none;}
}

@media only screen and (max-width: 768px) { 
  /* Collapse Header */
  body {background-color: #000}
  .shade {background: none;}
  .Webbanner {display: none;}
  .marquee {display: none;}
  .slideshow {display: none;}
  .CountDownTable {
    display: table;
    width: auto;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 15px;
    text-align: center;
  }
  .CountDownTable-section {
    display: table-row;
    margin: auto;
    font-size: 20px;
  }
  #SISLRALogo-Footer {width: 60%;}
  #pMembers {width: 100%;}
}

@media only screen and (max-width: 650px) { 
  /* Set Margin to 0 and contactUsTable when on smaller screens to stop content from going out of page*/
  .mainCenter {margin-left: 0%;}
  .contactUsTable {width: 600px;}
}

/* For mobile phones: */
[class*="col-"] {width: 100%;}

@media only screen and (min-width: 650px) {
  /* For tablets: */
  .col-m-0 {width: 0%;}
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
}

@media only screen and (min-width: 1200px) {
  /* For desktop: */
  .col-0 {width: 0%;}
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}